[user]
  name = Tyler Neely
  email = t@jujit.su
  signingkey = 6A288D9A723CA8CC2386EE93F46E5D6787767778
[alias]
  l = "log --name-only --graph --date=local"
  b = branch
  s = status
  co = checkout
  fr = "!git fetch && git rebase"
